.section{
    background-color: purple;
    height: 100vh;
}
.background-white{
    background-color: white;
    border: 1px solid black;
    border-radius: .5em;
}
.background-grey{
    background-color: grey;
}
.my-btn{
    border: 1px solid orange;
    color: purple;
    font-weight: bold;
}
.my-btn:hover{
    background-color: white;
    font-weight: bold;
}
h1{
    color: white;
}
h6{
    color: purple;
}
input{
    border: 1px solid purple;
    border-radius: .3em;
}
.padding-bottom{
    padding-bottom: 2rem;
}
.border-top{
 border-top: 1pxsolid gray;
}
.border-bottom{
    border-bottom: 1px solid gray;
}